@model IncidentManagementProject.Models.PwReset

@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<div class="card">
    <div class="card-body">
        <h2 style="color:blue">ResetPassword</h2>

        @using (Html.BeginForm("getQuestion", "UserLogin", FormMethod.Post))
        {

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID) :
            <span style="color:red">*</span>
            @Html.TextBoxFor(model => model.EmployeeID, new { @class = "form-control col-md-8 backgroundTextColor", @id = "txtid" })
            <span class="text-danger">
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </span>
        </div>

            <button type="submit" class="btn btn-primary" id="btnSubmitID">Get Secret Question</button>

        }
    </div>
</div>
