
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>welcome</title>
</head>
<body>
    <div>
    </div>
</body>
</html>

<h2>Hello</h2>
@if (Session["username"] != null)
{
    <h2>welcome @Session["username"].ToString()</h2>
}
else
{
    Response.Redirect("Index");
}
@Html.ActionLink("Logout", "Index")