<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Incident Management</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheeet" type="text/css" href="searchbar.css">

</head>

<body>
    <style>
        /*h3 {
            color: white;
        }*/  
    </style>

    <div>
        <nav class="navbar navbar-inverse" style="background-color: mediumorchid">
                <div class="container-fluid" style="text-align:left">
                    <div class="navbar-header">
                        <a style="color:white;" class="navbar-brand" href="#">Incident Management</a>
                    </div>
                </div>

                <div class="col-md-12">
                    <span style="text-align:center">
                        <h3 class="text-white">Hello @Session["employeeName"].ToString(), how can i help you today?</h3>
                        <p class="text-white">
                            Got a request to be fulfilled? report an incident? I have got you covered,
                            let me help you out.
                        </p>
                    </span>
                    @*<div>
                        <form class="form-inline">
                            <input class="form-control mr-lg-2" style="width:400px; border-radius:50px" type="search" placeholder="Search here" aria-label="Search">
                        </form>
                    </div>*@
                </div>          
            
        </nav>
    </div>

    @RenderBody();
</body>
</html>
